.comment-form textarea {
  width: 100%;
  min-height: 140px;
  max-height: 300px;
  padding: 12px;
  font-size: 1rem;
  resize: vertical;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.comment-form button {
    width: 200px;
    height: 40px;
    font-size: 1.2rem;
    background-color: #87CEEB;
    cursor: pointer;
    border: none;
}

.comment-form button:hover {
    transition: 0.2s;
    background-color: #007BFF;
    color: white;
}
